.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    border: 1px solid lightgrey;
    border-radius: 1rem;
}

.container:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.16);
}

.container {
    text-decoration: none;
    padding: 1rem;
}